<img src="images/pyladiesmadrid_alargado.png" style="width: 300px;"/>

# Taller 001 - PyLadies Madrid
# "Instalación de Python y Primeros Pasos"

## Cadenas

Crear dos variables `nombre` y `edad` con tus datos e imprimir el mensaje:

```"Hola me llamo <nombre> y tengo <edad> años"```

## Listas

Crear una lista con estos 5 elementos: 
```a, b, c, d, e```

Extraer el primer elemento: `a`

'a'

Extraer el último elemento: `e`

'e'

Extraer el tercer y cuarto elemento: `c, d`

['d', 'e']

Extraer los elementos en las posiciones impares: `a, c, e`

['a', 'c', 'e']

Crear una lista invertida: `e, d, c, b, a`

['e', 'd', 'c', 'b', 'a']

Añadir al final un nuevo elemento que sea igual que el segundo: `e, d, c, b, a, d`

['e', 'd', 'c', 'b', 'a', 'd']

Contar el número de elementos de la lista: `6`

6

Quitar el primer elemento de la lista: `d, c, b, a, d`

['d', 'c', 'b', 'a', 'd']

Contar el número de veces que se repite el 1er elemento en toda la lista: `2`

2

## Tipos de datos

### Tuplas

Crea una tupla llamada con los siguientes valores:  `a, b, c, d, e`

('a', 'b', 'c', 'd', 'e')

Añade un valor al final que sea `f`

('a', 'b', 'c', 'd', 'e', 'f')

Sustituye el segundo elemento por una `z` - ¿funciona?

TypeError: 'tuple' object does not support item assignment

Contar el número de elementos de la tupla

5

### Sets

Crea un set con los siguientes valores: `1, '3', 'a', 'hola'`

{1, '3', 'a', 'hola'}

Añade un valor que sea `0`

{0, 1, '3', 'a', 'hola'}

Añade un valor al principio que sea `'python'` - ¿funciona?

{0, 1, '3', 'a', 'hola', 'python'}

Añade el valor `'a'`, ¿qué ocurre?

{0, 1, '3', 'a', 'hola', 'python'}

Contar el número de elementos del set

6

### Diccionarios

Crea un diccionario con estos valores: `{'edad': 18, 'altura': 1.80, 'puesto': 'alero', 'equipo' : None}`

{'edad': 18, 'altura': 1.8, 'puesto': 'alero', 'equipo': None}

Asignar al campo *equipo* el valor "PyLadies"

{'edad': 18, 'altura': 1.8, 'puesto': 'alero', 'equipo': 'PyLadies'}

Mostrar solo las claves del diccionario

dict_keys(['edad', 'altura', 'puesto', 'equipo'])

Mostrar solo los valores del diccionario

dict_values([18, 1.8, 'alero', 'PyLadies'])

Contar el número de items del diccionario

4

## Operaciones básicas

### Operadores aritméticos

Suma 7 más 4

11

Resta 5 menos 2

7

Multiplíca 57 por 48

2736

Eleva 125 al cuadrado

15625

Divíde 33 entre 100

0.33

Multiplica 4 por 'a'

'aaaa'

### Operadores de comparación

¿Es 7 menor que 8?

True

¿Es 4 igual que '4'?

False

¿Es 'True' distinto de True?

True

¿Es 5 menor o igual que 7, y a su vez mayor o igual que 2?

True

### Operadores de asignación

Crea una variable con el valor 10

Súmale a esa variable 5

20

Multiplícala por 10

Crea dos variables llamadas *color_1* y *color_2* con los valores 'blanco' y 'negro' en una sóla línea

Variables: color_1=blanco y color_2=negro

Intercambia los valores entre *color_1* y *color_2* en la misma línea

Variables: color_1=blanco y color_2=negro

### Otros operadores

Crea una lista con los valores *2, 4, 6, 8*

[2, 4, 6, 8]

¿Está el valor 7 en la lista?

False

Crea dos variables con los valores True y False

¿Cuál es el resultado de aplicar el operador *and* a estas variables?

False

¿Cuál es el resultado de aplicar el operador or a estas variables?

True

Este notebook ha sido realizado por: Alicia Pérez, Mabel Delgado, María Medina y Vicky Cortés

In [3]:
# Esta celda da el estilo al notebook
from IPython.core.display import HTML
css_file = 'styles/pyladiesmadrid_notebook.css'
HTML(open(css_file, "r").read())